APP_ENV=dev
APP_VERSION=0.4
APP_NAME=aiacms-classic
APP_TITLE=aiacms-classic v0.4
CMS_BASE_URL=http://www.sitems.org:16386

DB_HOST=db
DB_PORT=3306
DB_NAME=aiacms_classic
DB_USER=aiacms
DB_PASSWORD=aiacms

MARIADB_ROOT_PASSWORD=aiacms
MARIADB_DATABASE=aiacms_classic
MARIADB_USER=aiacms
MARIADB_PASSWORD=aiacms
